.appContainer {
  display: flex;
  max-width: 1000px;
  /* width: min(100% 1700px); */
  /* flex: 1; */
}

body {
  margin: 0;
  display: flex;
  /* flex: 1; */
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}
