.sidebarContainer input {
  max-width: 500px;
}

.sidebarContainer h2 {
  text-align: center;
}

.personalDetailsContainer div {
  display: flex;
  flex-direction: column;
}

.educationBoxContainer div {
  display: flex;
  flex-direction: column;
}

.experienceContainer div {
  display: flex;
  flex-direction: column;
}

.experienceLists div {
  display: flex;
  flex-direction: row;
}

.experienceLine textarea {
  flex-grow: 1;
}

.experienceLine button {
  align-self: flex-end;
}
